@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Pushster&family=Staatliches&display=swap');

:root{
    --cor1: #F3DF6C;
    --cor2: #DBC235;
    --cor3: #8F7C14;
    --cor4: #4335DB;
    --cor5: #11068F;
    --font-destaque: 'Pushster';
    --font-padrao: 'Staatliches';
    --font-padrao2:' Barlow Semi Condensed', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{

    background-color: var(--cor1);
    font-size: 100%;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.548);
    
}
nav{
    display: flex;
    gap: 35px;
}

nav > a {
    font-family: var(--font-padrao);
    color: #fff;
    padding: 10px;
    transition-duration: 0.3s;
    
}

nav > a:hover{
    background-color: var(--cor4);
    border-radius: 5px;
    box-shadow: 3px 3px 8px var(--cor2);
    transition-duration: 0.5s;

}


.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
    margin-bottom: 50px;
}

.principal > div{
    margin-top: -100px;
}

.principal  h1{
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    width: 25%;
    color: var(--cor5);
    margin-bottom: 15px;
    transition-duration: 0.3s;
}
.principal  h1:hover{
    color: var(--cor4);
    transition-duration: 0.5s;
}

.principal  p{
    font-family: var(--font-padrao2);
    margin-bottom: 30px;
    color: #fff;
    text-align: justify;
    line-height: 25px;
}

.principal  a{
    background-color: var(--cor5);
    font-family: var(--font-padrao);
    font-size: 25px;
    box-shadow: 3px 3px 6px var(--cor3);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    transition-duration: 0.3s;
}

.principal  a:hover{
    background-color: var(--cor4);
    transition-duration: 0.5s;
}

.principal > img{
    height: 400px;
    width: 400px;
    margin-top: -60px;
    margin-left: 40px;
}

.secundario{
    display: flex;
    flex-direction: column;
    font-family: var(--font-padrao2);
    font-weight: lighter;
    color: #fff;
    text-align: center;
    gap: 24px;
}

.secundario h1{
    font-family: var(--font-padrao);
    font-weight: normal;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.548);
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 100px;

}

strong:hover{
    color: var(--cor5);
}

footer{
    margin-top: 100px;
    padding: 20px;
    border-top: solid 1px rgba(255, 255, 255, 0.548);
    text-align: center;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 50px;
    color: var(--cor5);
}
footer p{
    text-shadow: 5px 5px 10px var(--cor2);
    transition-duration: 0.3s;
}
footer p:hover{
    color: var(--cor4);
    transition-duration: 0.5s;
}